// Variables
$font-stack: Helvetica, Arial, sans-serif;
$bg-color: peachpuff;

body {
    background-color: $bg-color;
    font-family: $font-stack;
}


// Nesting
nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    li {
        display: inline-block;
    }
     
    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}


// Imports & Partials
@import 'style.css'; // Creates an HTTP request each time
@import '_partial.css'; // Will not generate a full css file


// Mixins
// First define the mixin
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Then call the mixin later
.box { @include border-radius(10px); }


// Extend (Inheritance)
.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: yellow;
}


// Operators
.container { width: 100%; }

article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role="complimentary"] {
  float: right;
  width: 300px / 960px * 100%;
}



